html{
    padding-bottom: 0;
}
body{
    margin: 0px;    
    /* padding: 0px;
    width: 100%; */
    background: rgb(34,39,34);
    background: linear-gradient(180deg, rgba(0,168,225,255) 0%, rgba(244,166,198,255) 45%, rgba(248,160,117,255) 70%, rgba(246,194,21,255) 100%);
    /* height: 100vh;
    width: 100vw; */
}
.about, .projects_heading, .text, .end, .aboutMe_heading, .email, #quote{
    font-family: 'Maven Pro', sans-serif;
    color: #eceae9;
}
.start-container{
    height: 100vh;
}
#quote{
    color: #eceae9;
    font-size: 2vh;
    text-align: center;
    margin: 3.5vh;
    letter-spacing: 1px;
    font-family: 'Maven Pro', sans-serif;
}
#yt-div{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.quote-div{
    width: 83vw;
    margin: auto;
}
#home-vid{
    height: 83vh;
    width: 70.35vw;
}
#top-background{
    color: #eceae9;
    font-family: 'Pacifico', cursive;
    height: 100vh;   
    /* background: rgb(46,29,59); */
    /* background: linear-gradient(180deg, rgba(46,29,59,1) 0%, rgba(46,29,59,1) 45%, rgba(46,29,59,1) 70%, rgba(34,39,34,1) 100%); */
    display:flex;
    justify-content: center;
    align-items: center;
}

#down-arrow a{ /*base code provided by codepen.io and modified by me appropriately  */
    position: absolute;
    bottom: 6vh;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
#down-arrow a:hover{
    cursor: pointer;
    opacity: .5;
}

#down-arrow a span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
}
.mainImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}
.page{
    background-color: #222623;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#intro{
    /* height: 100%; */
    font-size: 20vh;
    /* margin-bottom: 20px; */
    text-align: center;
}
.projects{
    width: 83vw;
    margin: auto;
}
.projects_heading{
    /* overflow:hidden; */
    padding: 2vh;    
    /* clear: both; */
    font-size: 5vh;
    background-color: #1a3f6f;
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vh;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
    /* float:left;
    display: block;
        margin-left: auto;
        margin-right: auto; */
}
.aboutMe_heading{
    padding: 2vh;    
    font-size: 5vh;
    background-color: #1a3f6f;
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vh;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
}
.row{
    display: flex;
    flex-direction: row;
}
.container{
    /* float: left; */
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vh;
    border-radius: 13px;
    margin: 15px;
    background-color: #1a3f6f;
    padding: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about_container{
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vh;
    border-radius: 13px;
    margin: 15px;
    background-color: #1a3f6f;
    padding: 16px;
    display: flex;
    align-items: center;
}
.aboutMe{
    text-align: center;
    width: 83vw;
    margin:auto;
}
.about-info{
    font-size: 3vh;
    line-height: 1.2;
}
.aboutImg{
    width: 20vw; 
}
.album-img{
    width: 32vh;
    /* float: left; */
    margin: 10px;
    transition: opacity .3s;
}
.text{
    /* float: none; */
    padding: 10px;
}
.project_title{
    font-size: 4vh;
    text-align: center;
    background-color: #1a3f6f;
}
.project_title:hover{
    opacity: .5;
}
.project_sum{
    font-size: 2.5vh;
    line-height: 1.2;
}
.album-img:hover
{
	opacity:0.5;
}
.end{
    text-align: center;
    padding-bottom: 0;
    background-color: #3ca6db;
    bottom:0;
    overflow: hidden;
}
#end-text{
    font-size: 2vh;
    letter-spacing: 2px;
}
#logo-div{
    text-align: center;
    padding: 10px;
}
.logos{
    width:8vh;
    margin-left: 2vh;
    margin-right: 2vh;
    transition: opacity .3s;
}
.logos:hover{
    opacity:.5;
}
.email{
    font-size: 2vh;
}
a{
    color: white;
    transition: opacity .3s;
}
@media (max-width: 1024px){
    .quote-div{
        padding-top: 2vh;
    }
    #yt-div{
        align-items: center;
    }
    #home-vid{
        height: 32vh;
        width: 100vw;
        padding-top: 20vh;
    }
    .container, .about, .aboutMe_container{
        flex-direction: column;
        align-items: center;
    }
    .top-background{
        justify-content: center;
        margin: auto;
    }
    .about-info{
        font-size: 2.5vh;
    }
    .about_container{
        flex-direction: column;
        align-items: center;
    }
    .about{
        text-align: center;
    }
    .aboutImg{
        width: 90%;
    }
    #intro{
        font-size: 25vw;
    }
    .about{
        margin: 0px;
    }
    .row{
        flex-direction: column;
    }
    .puzzleImg{
        height:auto;
        width: 100%;
    }
    /* .intro2{
        margin: 30px
    } */
}